{% extends "base.html" %}
{% block title %}
    <h1>All events</h1>
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="tile">
                <div class="tile-content" style="background-color: #ffae00;">
                    <h3>Nov 27th</h3>
                    <h6><time>19:00 - 21:00</time></h6>
                </div>
                <div class="tile-content">
                    <span class="label label-rounded label-warning">
                        <a href="">Cult of Apple</a>
                    </span>
                    <div class="tile-title">
                        <a href=""><h5>Connecting the dots</h5></a>
                    </div>
                    <p class="tile-subtitle text-gray">
                        Come here if you want to know how I made the word believe in glass and aluminum.
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="tile">
                <div class="tile-content">
                    <span class="chip">
                        <i class="icon icon-people">
                        </i>
                        Jobbyjobs
                    </span>
                </div>
                <div class="tile-content">
                    <span class="chip">
                        <i class="icon icon-location"></i>
                        <a href="">An infinite loop</a>
                    </span>
                </div>
                <div class="tile-content">
                    <span>
                        14 / 20 人
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

